$base-color: #386FC9;
$list-bg-color: white;
$list-icon-size: 2em;
$list-icon-color: black;
$action-icon-size: 1.5em;
$detail-action-icon-size: 1em;

// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/cupertino';
@import 'sencha-touch/cupertino/all';

@include icon-font('IcoMoon', inline-font-files('pictos/icomoon.woff', woff, 'pictos/icomoon.ttf', truetype, 'pictos/icomoon.svg',svg));
@include icon('icon-bookmark','!','IcoMoon');
@include icon('icon-radio-unchecked','"','IcoMoon');

// Examples of using the icon mixin:
@include icon('team');
@include icon('user');

#signInFailedLabel {
	color:#990000;
	margin:5px 0px;
}
#images-view .thumb{
  background: #dddddd;
  padding: 3px;
}
#images-view .thumb img{
  height: 61px;
  width: 80px;
}
#images-view .thumb-wrap{
  float: left;
  margin: 4px;
  margin-right: 0;
  padding: 5px;
}
#images-view .thumb-wrap span{
  display: block;
  overflow: hidden;
  text-align: center;
}
#images-view .x-item-selected .thumb-wrap{
  background:#64C6FF;
}
#detail-panel img{
  width: 100%;
}
.captionText {
  font-size: 8pt;
  text-align: center;
  font-weight: bold;
}
.category-name {

}

.category-title {
  text-align: center;
}

.rental-category-title {
}
.rental-area-title {
}
.x-list-header
{
  font-size: 10pt;
  height:20pt;
}
.current-Title {

}
.rental-name {
  font-weight: bold;
}
.rentalAddress {
  font-size:small;
}
.rental-distance {
  font-size: small;
}
.rental-status-alert {
  font-size:small;
  font-weight: bold;
  color: red;
}
.rental-status-normal {
  font-size:small;
}
.rental-property-name {
  font-weight: bold;
  font-size:small;
}
.guest-name-alert {
  font-weight: bold;
  color:red;
}
.guest-name-normal {
   font-weight: bold;
 }
.guest-status {
  font-size: small;
}
.guest-type {
 font-size:smaller;
}
.note-title {
  margin-bottom: 10px;
  text-decoration: underline;
}
.note-text {
  font-size: small;
  margin-left: 10px;
}
.reservation-status {

}
.reservation-type {

}
.arrival-date {

}
.departure-date {

}
.door-access-code {
  margin-bottom: 10px;
}
.prop-access-ins {
  font-size: small;
  margin-left: 10px;
}
.full-name {

}
.email {
  font-size:small;
}
.action-label {
  font-weight: bold;
  font-size: small;
}
.icon-ownerCls:before {
  font-family: "Pictos";
  content: "U";
  font-size: $list-icon-size;
  color: $list-icon-color;
}
.icon-vendorsCls:before {
  font-family: "Pictos";
  content: "X";
  font-size: $list-icon-size;
  color: $list-icon-color;
}
.icon-houseCls:before {
  font-family: "Pictos";
  content: "H";
  font-size: $list-icon-size;
  color: $list-icon-color;
}
.icon-staffCls:before {
  font-family: "Pictos";
  content: "g";
  font-size: $list-icon-size;
  color: $list-icon-color;
}
.icon-action-red:before {
  font-family: "IcoMoon";
  content: "!";
  font-size: $action-icon-size;
  color: red;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  margin-right: 10px;
}
.icon-action-yellow:before {
  font-family: "IcoMoon";
  content: "!";
  font-size: $action-icon-size;
  color: yellow;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  margin-right: 10px;
}
.icon-action-green:before {
  font-family: "IcoMoon";
  content: "!";
  font-size: $action-icon-size;
  color: green;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  margin-right: 10px;
}
.icon-action-white:before {
   font-family: "IcoMoon";
   content: "!";
   font-size: $action-icon-size;
   color: white;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
   margin-right: 10px;
 }
.red-action-button {
  background-color: red;
  border-color: black;
}
.yellow-action-button
{
  background-color: yellow;
  border-color: black;
}
.green-action-button
{
  background-color: green;
  border-color: black;
}
.red-action-title {
  color:black;
  font-weight: bold;
  background-color: red;
}
.yellow-action-title {
  color:black;
  font-weight: bold;
  background-color: yellow;
}
.green-action-title {
  color:black;
  background-color: green;
  font-weight: bold;
}
.normal-action-title {
  color:black;
}
.x-list .x-list-item .x-list-item-label
{
  min-height: 20em!important;
}
/* Move up the disclosure button to account for the list item height increase */
.x-list .x-list-disclosure {
  position: absolute;
  bottom: 0.85em;
  right: 0.44em;
}
.list-item-title
{
  float:left;
  width:100%;
  //font-size:90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right:25px;
  line-height:150%;
}
.list-item-narrative
{
  float:left;
  width:95%;
  color:#666666;
  //font-size:80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right:25px;
}
.x-item-selected .list-item-title
{
  color:#ffffff;
}
.x-item-selected .list-item-narrative
{
  color:#ffffff;
}
.notes-list-empty-text
{
  padding:10px;
}
.icon-detail-action-red:before {
  font-family: "IcoMoon";
  content: "!";
  font-size: $detail-action-icon-size;
  color: red;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.icon-detail-action-yellow:before {
  font-family: "IcoMoon";
  content: "!";
  font-size: $detail-action-icon-size;
  color: yellow;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.icon-detail-action-green:before {
  font-family: "IcoMoon";
  content: "!";
  font-size: $detail-action-icon-size;
  color: green;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.icon-detail-action-white:before {
  font-family: "IcoMoon";
  content: "!";
  font-size: $detail-action-icon-size;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}



